@charset "UTF-8";

@font-face {
  font-family: "kenney-font";
  src:url("fonts/kenney-font.eot");
  src:url("fonts/kenney-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/kenney-font.woff") format("woff"),
    url("fonts/kenney-font.ttf") format("truetype"),
    url("fonts/kenney-font.svg#kenney-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "kenney-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "kenney-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-asset:before {
  content: "\68";
}
.icon-game:before {
  content: "\69";
}
.icon-cog:before {
  content: "\6a";
}
.icon-store:before {
  content: "\6b";
}
.icon-search:before {
  content: "\6c";
}
.icon-play:before {
  content: "\6d";
}
.icon-menu:before {
  content: "\6e";
}
.icon-download:before {
  content: "\61";
}
.icon-steam:before {
  content: "\62";
}
.icon-itch:before {
  content: "\63";
}
.icon-link:before {
  content: "\64";
}
