.donate-list{

	display: inline-block;
	padding: 0px;
	width:100%;
	
	line-height:40px;

}
	
.donate-list li{ display:inline; }
	
.donate-list li a{
	
	display: inline-block;
	padding: 10px 20px;
	
}
	
.donate-list li a:hover{
	
	border:none; color:white;
	background-color:#2ECC8A;
	
}

.btn-solid{
	
	background-color:#ECF5FA;
	border-bottom:2px solid #DCE5E9;
	
	padding:10px 16px;
	border-radius:4px;
	
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 900;
	text-transform: uppercase;
	
}
	
.btn-solid:hover{
	
	background-color:#2ECC8A;
	border-bottom:2px solid #DCE5E9;
	
	color:white;
	
}