#header-small{
		
		height:360px;
		width: 100%;
		
		background-position:center center;
		background-size: auto 360px !important;
		background-repeat:no-repeat;
		
		margin-bottom:20px;
		
	}
	
	.color-blue{   	background-color:#3498DB }
	.color-navy{   	background-color:#34495E }
	.color-purple{ 	background-color:#2ECC9B }
	.color-red{		background-color:#C0392B }
	.color-beige{ 	background-color:#D2A985 }
	.color-yellow{	background-color:#F1C40F }
	.color-kit{		background-color:#1F2C38 }
	
	.label{
		
		margin-right: 10px;
		background-color: #F0F0F0;
		padding: 4px 10px;
		font-weight: 900;
		border-radius: 2px;
		text-transform: uppercase;
		font-size: 10px;
	
	}

	.donation-option{
		
		text-align:center;
		padding: 8px;
		font-size: 80%;
	
	}
	
	.donation-option:first-child{ border-radius:4px 0px 0px 4px; }
	.donation-option:last-child{ border-radius:0px 4px 4px 0px; }

	.donation-option:hover{
		
		background-color:#F0F0F0;
		
		cursor:pointer;
		border:none !important;
		
	}
	
	.donation-option.selected{
		
		color:white !important;
		background-color:#545C68;
		
	}
	
	.project{
		
		background-position:center center;
		background-size:100%;
		
		height:70px; padding:0px;
		
		cursor:pointer;
		
		margin-bottom: 0px;
		
	}
	
	.col-sm-3:hover{ border:none !important; }
	
	h3{ margin-bottom: 20px; }
	
	.btn-block{
	
		width: 100%;
		padding: 15px 0px !important;
		
		margin: 0px !important;
		margin-bottom: 10px !important;
		
	}
	
	.pop{
		
		border-radius:4px;
		padding:40px;
		
		max-width:800px;
		
	}